html,
body {
 font-family: helvetica, arial;
 height: 100%;
 margin: 0;
 padding: 0;
}

#map {
 height: 100%;
}

#floating-panel {
  position: absolute;
  font-family: helvetica,sans-serif;
  line-height: 30px;
  padding-left: 10px;
  width: 23%;
  top: 10px;
  left: 72%;
  z-index: 5;
  height:90%;
  background-color: #F8F8F5;
  padding: 5px;
  border: 1px solid #464343;
  border-radius: 3px;
  text-align: center;
}

#pano {
  width: 200px;
  height: 200px;
}

.list-text {
  text-align: left;
}
