html,
body {
 font-family: helvetica, arial;
 height: 100%;
 margin: 0;
 padding: 0;
}

#map {
 height: 100%;
}

#floating-panel {
  position: absolute;
  font-family: helvetica,sans-serif;
  line-height: 30px;
  padding-left: 10px;
  width: 23%;
  max-width: 250px;
  top: 10px;
  left: 72%;
  z-index: 5;
  height:90%;
  background-color: #F8F8F5;
  padding: 5px;
  border: 1px solid #464343;
  border-radius: 3px;
  text-align: center;
}

#pano {
  width: 200px;
  height: 200px;
}

.title {
  margin: 0 0 10px 0;
  font: bold 16pt helvetica, arial;
}

.heading-text {
  margin: 10px 0 0 0;
  text-align: center;
}

.second-line-text {
  margin: auto;
  text-align: center;
}

#company-list,
#company-info-wiki {
  width: 200px;
}

#drawing-tools {
  outline: none;
}

option {
  text-align: center;
}
